djangorestframework
djangorestframework-simplejwt
psycopg2-binary
Django
pillow
django-environ
drf-spectacular
drf-spectacular-sidecar
channels # apus
daphne # apus
uvicorn
adrf
django-cors-headers
django-q2
django-prometheus